@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@400;500;700&display=swap');

* {
    font-family: 'Geologica', sans-serif;
    padding: 0;
    margin: 0;
}

:root {
    --black: #111111;
    --white: #e0dcd3;
    --whiteSheet: #f7f6f2;
    --shadow-image-orange: #db5400;
    --shadow-image-blue: #0061a1;
    --shadow: #1b1b1b69;
}

body {
    width: 100%;
    height: 100vh;

    background-color: var(--white);
}

p {
    color: var(--black);
    font-weight: 400;
    line-height: 1.4rem;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 2rem;
    position: fixed;

    box-shadow: 0rem .2rem 1rem var(--shadow);
    background-color: var(--black);
    color: var(--white);
}

img.d1 {
    position: absolute;
    translate: 1rem 2rem;
}

div.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 25rem;
    margin-right: 4rem;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    background-image: url(images/header.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;

    cursor: default;
    color: var(--whiteSheet);
}

header > h1 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 5rem;
    color: #000;
    text-shadow: 0rem 0rem .8rem #151515c4;
}

header > p {
    text-shadow: 0rem 0rem .8rem #151515c4;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 500;
    font-size: 2rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;

    box-shadow: 0rem -.2rem 1.5rem var(--shadow);
}

section.content0 {
    display: flex;
    flex-direction: column;

    width: 82%;
    padding: .8rem 2rem 1rem 2rem;

    background-color: var(--whiteSheet);
    box-shadow: 0rem 0rem .8rem var(--shadow);
}

section.content0 > h1 {
    margin-bottom: 1.2rem;

    font-size: 3rem;
    text-align: center;
    text-shadow: 3px 3px 2px var(--shadow);
}

article.dbv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-bottom: 2.8rem;
}

article.dbv > img {
    box-shadow: .8rem .8rem var(--black);
    width: 27rem;
    margin-right: 1rem;
}

article.dbv > div {
    padding: 1rem;
}

article.us {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

    margin-bottom: 2rem;
}

aside > img {
    width: 27rem;
    margin-left: 2rem;

    box-shadow: -.8rem .8rem var(--black);
}

article.us > div > h1 {
    margin-bottom: 1rem;

    font-size: 2.6rem;
    text-shadow: 3px 3px 2px var(--shadow);
}

section.dark {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;

    background-color: var(--black);
    color: var(--white);
}

section.dark > h1 {
    text-align: center;
    margin: 2rem 0rem 3rem 0rem;
    font-size: 2.4rem;
}

article.dark > p {
    color: var(--white);
}

div#container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 68%;
    margin-bottom: 3rem;
}

img.fotos {
    justify-self: center;
    width: 10rem;
}

div#container {
    text-align: center;
}

article.dark {
    max-width: 15rem;
}

article.dark > img {
    margin-bottom: .8rem;
}

article.dark > h2 {
    margin-bottom: .8rem;
}

section.content1 {
    display: flex;
    flex-direction: column;

    width: 80%;
    padding: 1rem 2rem 1rem 2rem;

    background-color: var(--whiteSheet);
    box-shadow: 0px 0px 10px var(--shadow);
}

section.content1 > h1 {
    align-self: center;
    margin-bottom: 2rem;

    text-shadow: 3px 3px 2px var(--shadow);
    font-size: 2.8rem;
}

article.toLeft {
    display: flex;
    flex-direction: row-reverse;
}

article.toLeft > img {
    margin-left: 1rem;
    width: 25rem;
    box-shadow: 7px 7px 4px var(--shadow);
}

article.toLeft > div > h2 {
    margin-bottom: 1rem;
    font-size: 2rem;
}

::-webkit-scrollbar {
    width: .6rem;
}

::-webkit-scrollbar-thumb {
    background-color: #eff0d1a4;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #979795de
}

::-webkit-scrollbar-track {
    background-color: #1d1d1d;
}